header {
  padding: 0 16px;
}

main {
  padding: 16px;
  display: flex;
  gap: 32px;
}

@media screen and (max-width: 800px) {
  main > div {
    width: 30px !important;
    height: 400px !important;
  }
}
